<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Charity Charms</title>
<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<center>
	<table width="728px" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<tr>
			<td height="4px"></td>
		</tr>
		<tr>
			<td align="right">
		</body>
</html>		<table width="98%" border="0" cellspacing="0" cellpadding="0">
  					<tr>
    						<td width="35%" align="left">
							<table width="70%" border="0" cellspacing="0" cellpadding="0">
  								<tr>
    									<td align="center"><%= link_to "Home", root_path %></a></td>
    									<td align="center"><a href="#" class="linksfoter">Contact Us</a></a></td>
    									<td align="center"><a href="#" class="linksfoter">Sitemap</a></td>
  								</tr>
							</table>
						</td>
    						<td align="right" width="53%"><img src="images/logo.jpg" /></td>
  					</tr>
				</table>
			</td>
		</tr>
		<td height="4px"></td>
	</tr>
 	<tr>
    		<td>
			<table border="0" cellspacing="0" cellpadding="0">
 				 <tr>
   					 <td valign="top">	
						<table class="linksbackground"  border="0" cellspacing="0" cellpadding="0">
 							 <tr>
    								<td valign="top"><img src="images/linkstop.jpg" align="top" /></td>
  							</tr>
  							<tr>
   								<td align="center">
			 						<div id="categorylinks">
										<ul>
											<li><%= link_to "Charms", jewelles_path %></li>
											<li><a href="#">Jewellery</a></li>
											<li><a href="#">Find Your Charity</a></li>
											<li><a href="#">Registry Area</a></li>
											<li><a href="#">Sony Eicssion</a></li>
											<li><a href="#">Charity Matter</a></li>
											<li><a href="#">Seasonal Ad Button</a></li>
											<li><a href="#">News Letter</a></li>
											<li><a href="#">Hot Items</a></li>
											<li><a href="#">Link to Charity</a></li>
										</ul>
			  						</div>		
								</td>
  							</tr>
  							<tr>
  								<td align="center">
  
  									<table width="90%" border="0" cellspacing="0" cellpadding="0" align="center">
  									<tr>
    										<td height="17px"></td>
  									</tr>
 									<tr>
    										<td align="center"><input type="text" />&nbsp;&nbsp;<a href="#"><img src="images/arrow.jpg" align="top" width="18" height="18" border="0"/></a></td>
  									</tr>
  									<tr>
    										<td height="15px"></td>
  									</tr>
 									<tr>
    										<td align="center"><img src="images/gift.jpg" /></td>
  									</tr>
									</table>
  								</td>
							</tr>
					<tr>
    
  </tr>
</table>
	</td>


<%= yield %>

</tr>
</table>
	</td>
  </tr>
  <tr>
  <td height="45px"></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td bgcolor="#1c1c1c" height="32px" align="center">
	
	<table width="730px" border="0" cellspacing="0" cellpadding="3" align="center" style="border-collapse:collapse; border-right:#FFFFFF 1px solid;">
  <tr>
    <td align="center" class="footer"><a href="#" class="linksfoter">Charity Angel Program</a></td>
    <td align="center" class="footer"><a href="#" class="linksfoter">Register</a></td>
    <td align="center" class="footer"><a href="#" class="linksfoter">FAQ's</a></td>
    <td align="center" class="footer"><a href="#" class="linksfoter">Contact Us</a></td>
    <td align="center" class="footer"><a href="#" class="linksfoter">Privacy</a></td>
    <td align="center" class="footer"><a href="#" class="linksfoter">Charities</a></td>
    <td align="center" class="footer"><a href="#" class="linksfoter">Wholesale</a></td>
    <td align="center" class="footer"><a href="#" class="linksfoter">Patron Gifts</a></td>
	<td align="center" class="footer"><a href="#" class="linksfoter">News</a></td>
	<td align="center" class="footer"><a href="#" class="linksfoter">The Maximizer</a></td>
  </tr>
</table>
	</td>
  </tr>
</table>
</center>
</body>
</html>
